---

---
{% assign siteContent = site.static_files | where: "siteContent", true %}
{% assign image_files = site.image_gallery | sort: "weight" %}
{% assign sorted_projects = site.projects | sort: "order" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Maxwell Benman</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content ="Maxwell is a designer that loves to team up with people to create nifty things that make people smile">
    <link rel="stylesheet" href="{{ site-url }}/assets/css/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/gkn5bri.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/siteContent/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/siteContent/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/siteContent/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/siteContent/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/siteContent/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/images/siteContent/favicon.ico">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="msapplication-config" content="/assets/images/siteContent/browserconfig.xml">
    <meta name="theme-color" content="#f9f9f9">
    <!-- Version 3.8.4.0 -->

  </head>

  <body id="top">
    <div id="viewport">
    <div id="content">

    
    
<!-- Preloader coming soon -->      
<!--  
  <div class="preloader">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 400 175" style="enable-background:new 0 0 400 175;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#2D2D2D;}
	.st1{fill:#FFFFFF;}
	.st2{fill:#DCEFF4;}
</style>


<g id="B">
	<path class="st0" d="M115.502,56.446c0,9.782-5.184,17.804-24.749,17.804H64.048V13.11h26.51c18.195,0,23.086,6.945,23.086,15.945
		c0,6.944-4.304,11.249-11.348,13.205C110.122,43.729,115.502,48.913,115.502,56.446z M89.09,24.752c-1.075,0-9.978,0-9.978,0
		v14.087c0.098,0,8.902,0,9.196,0c6.456,0,9.782-2.641,9.782-7.239C98.089,27.099,94.959,24.752,89.09,24.752z M89.09,48.522
		c-0.391,0-9.978,0-9.978,0v14.087c0,0,9.097,0,10.468,0c7.044,0,10.271-2.249,10.271-7.042
		C99.851,50.38,95.644,48.522,89.09,48.522z"/>
</g>
<g id="Bhide">
	<rect x="42.821" y="1.072" class="st1" width="75.179" height="80"/>
</g>
<g id="Blue_x5F_Block">
	<polygon class="st2" points="80.266,161.312 6.059,166.679 11.768,20.884 80.266,10.15 	"/>
</g>
<g id="Name">
	<g>
		<path class="st0" d="M101.883,27.618L88.48,73.791H71.852L58.449,27.716l-0.391,47.053H43.58l2.152-61.139h22.009L80.46,59.508
			L93.176,13.63h21.717l2.054,61.139h-14.772L101.883,27.618z"/>
		<path class="st0" d="M151.87,69.29c-3.227,3.816-6.848,6.945-13.109,6.945c-7.825,0-13.89-5.576-13.89-12.62
			c0-8.608,6.456-15.553,26.901-16.14v-0.881c0-4.792-2.446-6.944-8.022-6.944c-4.696,0-10.174,1.955-15.456,4.597l-3.13-11.054
			c4.793-2.543,12.326-5.38,20.934-5.38c15.749,0,20.934,7.141,20.739,19.857l-0.098,13.5c0,3.13,0.587,3.423,3.718,3.717
			l-1.467,10.76c-9.88,1.272-14.772-1.369-16.825-6.359h-0.293V69.29z M151.773,54.519c-9.294,1.075-12.717,2.837-12.717,6.848
			c0,2.935,2.347,4.891,5.673,4.891c3.033,0,5.478-1.272,7.044-3.033V54.519z"/>
		<path class="st0" d="M204.987,74.769l-8.706-14.575l-8.609,14.575h-16.239l15.652-23.183l-15.26-22.303h15.945l8.413,13.109
			l8.12-13.109h16.043l-15.064,22.107l15.651,23.38H204.987z"/>
		<path class="st0" d="M235.017,74.964l-12.815-45.682h15.261l6.163,30.227l7.728-30.227h15.749l7.826,29.738l5.282-29.738h15.652
			l-12.912,45.682h-15.261l-8.706-29.933l-8.706,29.933H235.017z"/>
		<path class="st0" d="M313.766,55.595c0.489,6.065,4.695,9.586,12.031,9.586c4.99,0,10.272-1.761,14.869-4.401l1.467,11.641
			c-4.597,2.347-11.151,3.717-17.705,3.717c-15.456,0-25.435-8.608-25.435-23.771c0-14.869,10.174-24.552,24.651-24.552
			c12.913,0,19.957,7.728,19.957,19.076c0,2.445-0.392,6.064-0.978,8.022l-28.858,0.489v0.193H313.766z M329.613,47.77
			c0-0.197,0-0.685,0-0.88c0-5.381-2.249-8.706-6.944-8.706c-5.185,0-8.314,4.499-8.805,9.684L329.613,47.77z"/>
		<path class="st0" d="M352.113,74.769v-64.66l15.064-1.859v66.52H352.113z"/>
		<path class="st0" d="M377.936,74.769v-64.66L393,8.249v66.52H377.936z"/>
		<path class="st0" d="M96.502,136.446c0,9.782-5.184,17.804-24.749,17.804H45.048V93.11h26.51c18.195,0,23.086,6.945,23.086,15.945
			c0,6.944-4.304,11.249-11.348,13.205C91.122,123.729,96.502,128.913,96.502,136.446z M70.09,104.752c-1.075,0-9.978,0-9.978,0
			v14.087c0.098,0,8.902,0,9.196,0c6.456,0,9.782-2.641,9.782-7.239C79.089,107.099,75.959,104.752,70.09,104.752z M70.09,128.522
			c-0.391,0-9.978,0-9.978,0v14.087c0,0,9.097,0,10.468,0c7.044,0,10.271-2.249,10.271-7.042
			C80.851,130.38,76.644,128.522,70.09,128.522z"/>
		<path class="st0" d="M117.045,135.076c0.489,6.065,4.696,9.586,12.032,9.586c4.989,0,10.271-1.761,14.869-4.401l1.467,11.641
			c-4.598,2.347-11.152,3.717-17.705,3.717c-15.456,0-25.435-8.608-25.435-23.771c0-14.869,10.174-24.552,24.652-24.552
			c12.912,0,19.956,7.728,19.956,19.076c0,2.445-0.391,6.064-0.978,8.022l-28.858,0.489L117.045,135.076L117.045,135.076z
			 M132.892,127.251c0-0.197,0-0.685,0-0.88c0-5.381-2.25-8.706-6.945-8.706c-5.184,0-8.314,4.499-8.804,9.684L132.892,127.251z"/>
		<path class="st0" d="M185.129,154.249v-26.901c0-5.478-2.446-7.238-6.456-7.238c-3.326,0-6.261,1.663-8.217,3.423v30.716h-15.064
			v-44.705l15.064-1.859c0,0,0,6.751,0,7.434c4.01-4.597,9.391-7.825,15.26-7.825c9.098,0,14.478,5.966,14.478,15.651v31.303
			h-15.064V154.249z"/>
		<path class="st0" d="M267.885,154.249v-26.804c0-5.479-2.347-7.336-6.162-7.336c-3.033,0-5.577,1.369-7.337,2.935v2.641v28.564
			h-15.064v-26.804c0-5.479-2.446-7.336-6.261-7.336c-3.033,0-5.479,1.174-7.337,2.738v31.402h-15.064v-44.705l15.064-1.859
			c0,0,0,6.261,0,6.359c4.011-4.109,8.511-6.75,14.478-6.75c5.673,0,10.662,2.837,12.815,8.119c4.207-4.89,9.586-8.119,15.749-8.119
			c8.805,0,14.184,5.966,14.184,15.749v31.205h-15.064V154.249z"/>
		<path class="st0" d="M318.069,148.772c-3.229,3.816-6.848,6.945-13.109,6.945c-7.826,0-13.892-5.576-13.892-12.62
			c0-8.608,6.456-15.553,26.901-16.14v-0.881c0-4.792-2.446-6.944-8.022-6.944c-4.695,0-10.174,1.955-15.456,4.597l-3.13-11.054
			c4.793-2.543,12.326-5.38,20.934-5.38c15.749,0,20.934,7.141,20.737,19.857l-0.097,13.5c0,3.13,0.587,3.423,3.717,3.717
			l-1.467,10.76c-9.88,1.272-14.771-1.369-16.825-6.359h-0.29V148.772z M317.97,134c-9.294,1.075-12.717,2.837-12.717,6.848
			c0,2.935,2.347,4.891,5.673,4.891c3.032,0,5.478-1.272,7.042-3.033V134H317.97z"/>
		<path class="st0" d="M373.239,154.249v-26.901c0-5.478-2.446-7.238-6.456-7.238c-3.326,0-6.261,1.663-8.217,3.423v30.716h-15.064
			v-44.705l15.064-1.859c0,0,0,6.751,0,7.434c4.011-4.597,9.391-7.825,15.261-7.825c9.098,0,14.478,5.966,14.478,15.651v31.303
			h-15.065V154.249z"/>
	</g>
</g>
<g id="white_x5F_boxes">
	<rect x="122" class="st1" width="281" height="80" id="loadBox1"/>
	<rect x="43" y="83" class="st1" width="360" height="80" id="loadBox2"/>
	<g></g>
	<g></g>
	<g></g>
	<g></g>
	<g></g>
	<g></g>
	<g></g>
	<g></g>
	<g></g>
	<g></g>
	<g></g>
	<g></g>
	<g></g>
	<g></g>
	<g></g>
</g>
</svg> 
</div>
-->

    
    <header>
      <nav class="main_menu highlight_link">
        <ul>
          <li id="menuToggle"><a href="javascript:void(0);" onclick="menuOpen()">nifty things</a></li>
          <li><a href="#">about</a></li>
          <li><a href="#resume">contact</a></li>
        </ul>
      </nav>

      <div id="full_menu">
        <a href="javascript:void(0);" onclick="menuClose()"><img src="{{ site-url }}/assets/images/siteContent/x.svg" id="x" alt="x"></a>
        <ul>
          {% for project in site.projects %}
            {% if project.hide != true %}
          <li><a href="#{{ project.htmlID }}" onclick="menuClose()" class="{{ project.category }} highlight_link">{{ project.title }}</a></li> 
            {% endif %}
          {% endfor %}
        </ul>
      </div>



    </header>



    <div id="main_container">
      <img src="{{ site-url }}/assets/images/siteContent/name_block_v2.svg" alt="block." class="name name_block"/>


      <img src="{{ site-url }}/assets/images/siteContent/spinner-01.svg" alt="spinning logo." class="spinner"/>

      <div class="hello">
        {% for hi in site.about %}
          <p>{{hi.content}}</p>
        {% endfor %}
      </div>

      <div class="pShape pFast">
        <img src="{{ site-url }}/assets/images/siteContent/pShapes-01.svg" alt="block shape." class="pFast">
      </div>
      <div class="pFast">
        <img src="{{ site-url }}/assets/images/siteContent/pShapes-02.svg" alt="block shape." id="pTriangle">
      </div>
      

      <!-- <div class="topButton"><a href="#top">TOP</a></div> -->

      {% for project in sorted_projects %}

        <div class="project" id="{{ project.htmlID }}">

      <!-- Normal Project Template -->
        {% if project.template == "nor" and project.hide != "true" %}
            <div class="project_header">
              <div class="project_title">
                <h2>{{ project.title }}</h2>
              </div>

              <span class="project_line"></span>

              <div class="project_info_bar">
                <div class="project_tech">
                  <h3>tech:</h3>
                  {% for t in project.techs %}
                    <p>{{ t.tech }}</p>
                  {% endfor %}
                </div>

                <div class="project_roles">
                  <h3>roles:</h3>
                  {% for r in project.roles %}
                      <p>{{ r.role }}</p>
                  {% endfor %}
                </div>

                <div class="project_year">
                      <h3>{{ project.year }}</h3>
                </div>

              </div>
            </div>

            <div class="first_content_container">
              <div class="first_image">
                <!-- Run through all of the images -->
                {% for image in image_files %}
                <!-- ONLY post the images for this project-->
                  {% if image.proj == project.htmlID and image.gallery != true %}
                  <!-- scale properly if this attribute is on the image -->
                    {% if image.scale == "halfDouble" and image.border == true %}
                      <img src="{{ image.image_path }}" alt="{{ image.title }}" class="skewElem halfDouble image_border"> 
                    {% elsif image.scale == "halfDouble" %}
                      <img src="{{ image.image_path }}" alt="{{ image.title }}" class="skewElem halfDouble">
                    {% elsif image.border == true %}
                      <img src="{{ image.image_path }}" alt="{{ image.title }}" class="skewElem image_border">
                    {% else %}
                      <img src="{{ image.image_path }}" alt="{{ image.title }}" class="skewElem">  
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </div>

              <div class="project_description pSlow_desc">
                {{ project.content }}
              </div>

            </div>

            <div class="project_images">
              <!-- Run through all of the images -->
              {% for image in image_files %}
              <!-- ONLY post the images for this project-->
                {% if image.proj == project.htmlID and image.gallery == true %}
                <!-- scale properly if this attribute is on the image -->
                  {% if image.scale == "halfDouble" %}
                    
                    {% if image.size == "small" and image.border == true %}
                      <img src="{{ image.image_path }}" alt="{{ image.title }}" class="skewElem halfDouble project_images_small image_border">
                    {% elsif image.size == "small" %}
                      <img src="{{ image.image_path }}" alt="{{ image.title }}" class="skewElem halfDouble project_images_small">  
                    {% elsif image.size == "large" and image.border == true %}
                      <img src="{{ image.image_path }}" alt="{{ image.title }}" class="skewElem halfDouble project_images_large image_border"> 
                    {% elsif image.size == "large" %}
                      <img src="{{ image.image_path }}" alt="{{ image.title }}" class="skewElem halfDouble project_images_large"> 
                    {% elsif image.size =="med" and image.border == true %}
                      <img src="{{ image.image_path }}" alt="{{ image.title }}" class="skewElem halfDouble project_images_med image_border"> 
                    {% else %}
                      <img src="{{ image.image_path }}" alt="{{ image.title }}" class="skewElem halfDouble project_images_med"> 
                    {% endif %}
                  
                  {% else %}

                    {% if image.size == "small" and image.border == true %}
                      <img src="{{ image.image_path }}" alt="{{ image.title }}" class="skewElem project_images_small image_border">
                    {% elsif image.size == "small" %}
                      <img src="{{ image.image_path }}" alt="{{ image.title }}" class="skewElem project_images_small">  
                    {% elsif image.size == "large" and image.border == true %}
                      <img src="{{ image.image_path }}" alt="{{ image.title }}" class="skewElem project_images_large image_border"> 
                    {% elsif image.size == "large" %}
                      <img src="{{ image.image_path }}" alt="{{ image.title }}" class="skewElem project_images_large"> 
                    {% elsif image.size =="med" and image.border == true %}
                      <img src="{{ image.image_path }}" alt="{{ image.title }}" class="skewElem project_images_med image_border"> 
                    {% else %}
                      <img src="{{ image.image_path }}" alt="{{ image.title }}" class="skewElem project_images_med"> 
                    {% endif %}

                  {% endif %}
                {% endif %}
              {% endfor %}

            </div>
        <!-- Slider Project Template -->
          {% elsif project.template == "slide" and project.hide != "true" %}
            <div class="project_header">
              <div class="project_title">
                <h2>{{ project.title }}</h2>
              </div>

              <span class="project_line"></span>

              <div class="project_info_bar">
                <div class="project_tech">
                  <h3>tech:</h3>
                  {% for t in project.techs %}
                    <p>{{ t.tech }}</p>
                  {% endfor %}
                </div>

                <div class="project_roles">
                  <h3>roles:</h3>
                  {% for r in project.roles %}
                      <p>{{ r.role }}</p>
                  {% endfor %}
                </div>

                <div class="project_year">
                      <h3>{{ project.year }}</h3>
                </div>

              </div>
            </div>

            <div class="first_content_container">
              <div class="slideshow-container">
                {% for image in image_files %}
                  {% if image.proj == project.htmlID %}
                    <div class="mySlides{{ project.order }} fade">
                      {% if image.border == true %}
                        <img src="{{ image.image_path }}" alt="{{ image.title }}" class="skewElem image_border">
                      {% else %}
                        <img src="{{ image.image_path }}" alt="{{ image.title }}" class="skewElem">  
                      {% endif %}
                    </div>
                  {% endif %}
                {% endfor %}
                <a class="prev" onclick="plusSlides(-1, ({{ project.order }}-1))">&#10094;</a>
                <a class="next" onclick="plusSlides(1, ({{ project.order }}-1))">&#10095;</a>
              </div>


              <div class="project_description pSlow_desc">
                {{ project.content }}
              </div>
            </div>

            

        

        <!-- Big Project Template -->
        {% elsif project.template == "big" and project.hide != true %}
            <div class="project_header">
              <div class="project_title">
                <h2>{{ project.title }}</h2>
              </div>

              <span class="project_line"></span>

              <div class="project_info_bar">
                <div class="project_tech">
                  <h3>tech:</h3>
                  {% for t in project.techs %}
                    <p>{{ t.tech }}</p>
                  {% endfor %}
                </div>

                <div class="project_roles">
                  <h3>roles:</h3>
                  {% for r in project.roles %}
                      <p>{{ r.role }}</p>
                  {% endfor %}
                </div>

                <div class="project_year">
                  <h3>{{ project.year }}</h3>
                </div>

              </div>
            </div>

            <div class="first_content_container">
              <div class="first_image">
                {% for image in image_files %}
                  {% if image.proj == project.htmlID and image.size != "huge" %}
                    {% if image.scale == "halfDouble" %}
                        <img src="{{ image.image_path }}" alt="{{ image.title }}" class="skewElem halfDouble"> 
                      {% else %}
                        <img src="{{ image.image_path }}" alt="{{ image.title }}" class="skewElem"> 
                      {% endif %}
                  {% endif %}
                {% endfor %}
              </div>

              <div class="project_description pSlow_desc">
                {{ project.content }}
              </div>

            </div>

            <div class="project_images_huge">
              {% for image in image_files %}
                {% if image.proj == project.htmlID and image.size == "huge" %}
                <img src="{{ image.image_path }}" alt="{{ image.title }}" class="skewElem">
                {% endif %}
              {% endfor %}
            </div>

        {% elsif project.template == "res" and project.hide != "true" %}
            <div class="project_header">
              <div class="project_title">
                <h2>{{ project.title }}</h2>
              </div>

              <span class="project_line"></span>

              <div class="project_info_bar">
                
              </div>
            </div>

            <div class="first_content_container">
              
              

              <div class="project_description pSlow_desc">
                {{ project.content }}
                <div class="contact highlight_link">
                  <a href="http://www.linkedin.com/in/maxwell-benman">Contact through LinkedIn</a>
                </div>
              </div>

            </div>

            <div class="full_height_image">
              {% for image in image_files %}
                {% if image.proj == project.htmlID and image.size == "huge" %}
                <img src="{{ image.image_path }}" alt="{{ image.title }}" class="skewElem">
                {% endif %}
              {% endfor %}
            </div>

           

        {% endif %}
        </div>

      {% endfor %}

    </div>


    <footer>
    </footer>


  </div> 
</div> 
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/assets/js/scripts.js"></script>
    <script type="text/javascript">
    gsap.registerPlugin(ScrollTrigger);

    //Slider Functionality

    // let slideIndex = 1;
    // showSlides(slideIndex);

    // // Next/previous controls
    // function plusSlides(n) {
    //   showSlides(slideIndex += n);
    // }

    // // Thumbnail image controls
    // function currentSlide(n) {
    //   showSlides(slideIndex = n);
    // }

    // function showSlides(n) {
    //   let i;
    //   let slides = document.getElementsByClassName("mySlides");
    //   let dots = document.getElementsByClassName("dot");
    //   if (n > slides.length) {slideIndex = 1}
    //   if (n < 1) {slideIndex = slides.length}
    //   for (i = 0; i < slides.length; i++) {
    //     slides[i].style.display = "none";
    //   }
    //   slides[slideIndex-1].style.display = "block";
    //   } 

   


    
    //GSAP Functionality
    function menuOpen() {
                      gsap.to("#full_menu", {
                          opacity: 1,
                          x: "100vw",
                          duration: 1,
                          ease: "power3",
                          });
                  }
      
      
      
                  function menuClose() {
                      gsap.to("#full_menu", {
                      opacity: 0,
                      x: 0,
                      duration: 1,
                      ease: "power3",
                      });
                  }
      // wait until DOM is ready (html and svg markup)
      document.addEventListener("DOMContentLoaded", function(event) {

        
          // wait until window is loaded (images, external JS, external stylesheets, fonts, links, and other media assets)
          window.addEventListener("load", function(event) {


            


        
            // makes sure it runs after last render tick
            window.requestAnimationFrame(function() {
              
                // GSAP custom code goes here
                
      
                var desc = document.getElementsByClassName("project_description");
      
      
                  // adjust spacing
                  // function adjust() {
                  //   for(var i=0; i<desc.length; i++) {
                  //     desc[i].style.marginBottom = desc[i].offsetHeight + "px";
                  //   }
                  //
                  // };
      
      
      
                  function ux() {
      
                  }
      
                  function web() {
      
                  }
      
                  function graphic() {
      
                  }
      
                  function data() {
      
                  }
      
                  
      
      
      
      
                  // Parallax
                  gsap.to(".pFast", {
                      yPercent: -300,
                      ease: "none",
                      scrollTrigger: {
                      trigger: "body",
                      start: "top top",
                      endTrigger: "name_block",
                      end:"bottom top",
                      scrub: true,
                      },
                  });
      
      
                  gsap.utils.toArray(".pSlow_desc").forEach(desc => {
                      gsap.to(desc, {
                      yPercent: -30,
                      ease: "none",
                      scrollTrigger: {
                          trigger: desc,
                          
                          scrub: true,
                      },
                      });
                  });
      
      
                  // spinner
                  gsap.to(".spinner", {
                      rotation: 270,
                      scrollTrigger: {
                      trigger:".spinner",
                      start: "bottom bottom",
                      end: "bottom top",
                      scrub: true,
                      ease: "none",
                      },
      
                  });
      
      
      
      
      
      
                  gsap.utils.toArray(".project_title").forEach(project_title => {
                      var tl = gsap.timeline({
                      scrollTrigger: {
                          trigger: project_title,
                          scrub: true,
                          start: "top 90%",
                          end: "top 35%",
                          markers: false,
                      }
                      });
                      tl.from(project_title, {
                      x: "100vw",
                      });
                  });
      
                  gsap.utils.toArray(".project_line").forEach(project_line => {
                      gsap.from(project_line, {
                      x: "-100vw",
                      scrollTrigger: {
                          trigger: project_line,
                          scrub: true,
                          start: "top 90%",
                          end: "top 35%",
                      }
                      });
                  });
              
            });
            
          });
      });



         
                

     
      
    </script>
    <script>
      // multi slider functionality 

      //the quantity of ones in the slideIndex should reflect the quantity of sliders on the page
      let slideIndex = [1,1,1,1,1,1];
      /* Class the members of each slideshow group with different CSS classes */

      //add new slide classes here
      let slideId = ["mySlides1", "mySlides2", "mySlides3", "mySlides4", "mySlides5", "mySlides6"];

      //show the slides/initiate the sliders, with n=1, and no= the class of the slider in slideId
      showSlides(1, 0);
      showSlides(1, 1);
      showSlides(1, 2);
      showSlides(1, 3);
      showSlides(1, 4);
      showSlides(1, 5);

      function plusSlides(n, no) {
        showSlides(slideIndex[no] += n, no);
      }

      function showSlides(n, no) {
        let i;
        let x = document.getElementsByClassName(slideId[no]);
        if (n > x.length) {slideIndex[no] = 1}
        if (n < 1) {slideIndex[no] = x.length}
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        x[slideIndex[no]-1].style.display = "block";
      } 

    </script>
  </body>
</html>
